# CLion files and directories
.idea/
cmake-build-debug/
.vs/

# VSCode files and directories
.vscode/

# C++ object files
*.o
*.out

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
